footer { 
    max-width: 1300px;
    min-width: inherit;
    background-color:#31333e; 
    width:100%;   
    height: 200px;
}


footer nav{
    float: left;
    margin: 0 auto; 
    padding-top: 2%;
    overflow: hidden; 
}

footer ul li + li:before{
    content:"|";
    padding-right: 20px;
}

.footer_menu{
    padding-top: 3%;
    font-family: "PT Sans";
    float: left;
    padding-left: 10%;
}

address{
   margin-left: 10%;
   padding-top: 70px;
   color: #868686; 
}


.soc_net{
    max-width: none;
    float: right;
    display: inline;
    padding-top: 5%;
    padding-right: 15%;
}

footer ul{
    padding-left: 0;
    width: auto;
    overflow:visible;
}