@font-face {
    font-family: 'PT Sans';
    src: url('ptsans-regular.eot');
    src: url('ptsans-regular.eot?#iefix') format('embedded-opentype'),
         url('ptsans-regular.woff2') format('woff2'),
         url('ptsans-regular.woff') format('woff'),
         url('ptsans-regular.ttf') format('truetype'),
         url('ptsans-regular.svg#PT Sans Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}


html{ 
    height: 100%; 
}

body{ 
    font-family: "PT Sans";
    background:#fff; 
    height: 100%; 
    width: 100%;
} 

.wrapper { 
    width: 1300px; 
    height: auto; 
    margin: 0 auto; 
} 













