article { 
    height: auto;
    width: auto;
} 


h2{
    font-family: "PT Sans";
    padding-left: 10%;
    padding-bottom: 5%;
    font-size: 30px;
    color: aliceblue;
}


h3{
    font-family: "PT Sans";
    padding-top: 5%; 
    padding-bottom: 5%; 
}


article header{
    height:auto; 
    padding-top: 0.1%;
    padding-bottom: 0.1%;
    background-color: #e2e7ed; 
    
    
} 

.web_design {
     height: 30%;
     padding-top: 10%;
     padding-bottom: 10%;
     background-color:rgb(144, 142, 243); 
     width:100%;  
     overflow: auto;
}


div.iphone{
   width: 40%; 
   padding-left: 10%;
   overflow: hidden;
}


.iphone{
  width: 40%;
  padding-left: 5%;
  float: left;
     width: 100%;
    height: auto;
  z-index: 1;
}


.iphone_text{
  font-size: 20px;
  font-family: "PT Sans";
  color: rgb(0, 0, 0);
  line-height: 1.2;
}


div.John_Henry{
    width: 40%; 
    padding-right: 5%;
    float: right;
    overflow: hidden;
}


.John_Henry{
    
    padding-left: 5%;
    float: right;
    width: 100%;
    height: auto;
    z-index: 1;
}


.icons {
    height: 30%;
     padding-top: 10%;
     padding-bottom: 10%;
    background-color:#58d99c; 
    width:100%;  
     overflow: auto;
    
}

div.icon_coffee{
   width: 40%; 
   padding-left: 10%;
   overflow: hidden;  
}


.icon_coffee{
    width: 40%;
    padding-left: 5%;
    float: left;
    width: 100%;
    height: auto;
    z-index: 1;
}


div.icon_tv{
    width: 40%; 
    padding-right: 5%;
    float: right;
    overflow: hidden;
}


.icon_tv{
    width: 40%;
    padding-left: 5%;
    float: right;
    width: 100%;
    height: auto;
    z-index: 1;
}


.illustration {
    height: 30%;
    
    background-color:#f4776d; 
    width:100%;   
     padding-top: 10%;
     padding-bottom: 10%;
   

     overflow: auto;
}


.bird{
    width: 40%;
    padding-left: 5%;
    float: left;
       width: 100%;
    height: auto;
    z-index: 1;  
}

div.bird{
    width: 40%; 
    padding-left: 10%;
    float: left;
    overflow: hidden;   
}


div.egg{
    width: 40%; 
    padding-right: 5%;
    float: right;
    overflow: hidden;   
}

.egg{
    width: 40%;
    padding-left: 5%;
    float: right;
    width: 100%;
    height: auto;
    z-index: 1;
}


.miscellaneous {
    height: 30%;
    overflow: auto;
    padding-top: 50px;
    padding-bottom: 60px;
    background-color:#edca52; 
    width:100%;   
 
}

.plane{
    width: 40%;
    padding-left: 5%;
    float: right;
       width: 100%;
    height: auto;
    z-index: 1;   
}
div.plane{
       width: 40%; 
    padding-left: 10%;
    float: left;
    overflow: hidden;  
}


div.box{
    width: 40%; 
    padding-right: 5%;
    float: right;
    overflow: hidden;    
}


.box{
   width: 40%;
    padding-left: 5%;
    float: right;
    width: 100%;
    height: auto;
    z-index: 1;
}


div.header_navigate{
    width: 50%;
    margin-left: 40%;
    padding-right: 10%;
    padding-top: 1px;
}
